* {
    padding: 0;
    margin: 0;
}

body {
    background-color:#00315a;
}

#initial-meta {
    background: linear-gradient(0.25turn, #004177, #5fb9ff);
    color:#f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius:8px;
    border:1px #000 solid;
    margin:0.4rem;
}

#fullHead {
    background: radial-gradient(#56b2fd, #00437a);
    color:#f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width:98%;
    border-radius: 0px 0px 8px 8px;
    border-bottom:1px #000 solid;
    padding:1%;
}

#headmen {
    display: flex;
    justify-content:left;
    align-items:center;
    width:70%;
}

#toplogo {
    border-radius:100px;
    border:2px #000 ridge;
    margin-right:0.3rem;
}

#separator {
    margin-right: 0.3rem;
}

svg {
    fill:#629bfe
}

.interactionbut {
    background-color:black;
    padding:0.25rem;
    border: none;
    border-radius:4px;
}

#progress {
    background: linear-gradient(0.25turn, #004177, #5fb9ff);
    color:#f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius:8px;
    border:1px #000 solid;
    margin:0.4rem;
    flex-direction:column;
}

.weekdays {
    display: flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding:0.5rem;
    border-radius:8px;
}

.weekdays div {
    width: 14%;
    text-align:center;
}

.weekdays div p {
    font-size:0.8rem;
    
}

.duodiv {
    display: flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    border-radius:8px;
}

.divduodiv {
    width: 48%;
    text-align:center;
}

#div1duodiv {
    background: linear-gradient(0.25turn, #004177, #5fb9ff);
    color:#f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius:8px;
    border:1px #000 solid;
    flex-direction:column;
    margin:0.4rem;
}

#div2duodiv {
    background: linear-gradient(0.25turn, #004177, #5fb9ff);
    color:#f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius:8px;
    border:1px #000 solid;
    flex-direction:column;
    margin:0.4rem;
}